.board_card {
  position: relative;
  transition: transform 0.3s ease; /* hover 효과를 위한 transition 설정 */
  margin-top: 20px;
  min-height: 160px;
  width: 100%;
}

.board_card:hover {
  transform: translateY(-5px); /* 위로 살짝 띄워지는 효과 */
  box-shadow: 4px 4px 10px rgba(0,0,0, .15); /* 그림자 효과 */
  transition: .5s;
}

.tag_list {
  display: flex;
  justify-content: flex-start; /* 좌측으로 밀착 */
  font-family: 'Trendy Font', sans-serif;
  margin-top: 5px;
}

.tag_list > * {
  margin-right: 10px; /* 태그 간 간격 제거 */
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  font-size: 13px; /* 텍스트 크기 조정 */
}

.tag_list_wrapper {
  overflow-x: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  scrollbar-width: none; /* 스크롤바를 사용하지만 화면상에 나타내지 않기 1 */
}

/* 스크롤바를 사용하지만 화면상에 나타내지 않기 2*/
.tag_list_wrapper::-webkit-scrollbar {
  width: 0.5em;
}
.tag_list_wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.tag_list_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}



.writer {
  font-family: 'Trendy Font', sans-serif;
  white-space: nowrap; /* 줄바꿈 없이 텍스트를 한 줄에 표시 */
  overflow: hidden; /* 너비를 넘어가는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 생략 부호 (...) 추가 */
}

.title {
  font-family: 'Trendy Font', sans-serif;
  white-space: nowrap; /* 줄바꿈 없이 텍스트를 한 줄에 표시 */
  overflow: hidden; /* 너비를 넘어가는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 생략 부호 (...) 추가 */
}