.comment_wrapper {
  border-top: 1px solid #F1F3F5;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.metadata {
  margin-bottom: 1.5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.writer {
  font-size: 1rem;
  font-weight: bold;
  color: #212529;
}

.separator {
  color: gray;
  margin: 0 8px;
}

.action {
  font-family: 'Trendy Font', sans-serif;
  color: gray;
  cursor: pointer;
  margin-right: 8px;
}

.action span:hover {
  text-decoration: underline;
  color: rgb(105, 103, 103);
}