/* MarkdownViewer.css */

.title {
  font-size: 40px;
  font-weight: bold;
  overflow-wrap: break-word; /* 너비를 넘어가는 단어를 자르고 줄바꿈 */
  word-wrap: break-word; /* 웹킷 브라우저 호환을 위한 속성 추가 */
}

.action_links {
  display: flex;
  justify-content: flex-end;
}

.link {
  font-family: 'Trendy Font', sans-serif;
  color: gray;
  cursor: pointer;
  margin-right: 8px;
}

img {
  width: 22px;
  height: auto;
  cursor: pointer;
  margin-right: 8px;
}


.separator {
  color: gray;
  margin: 0 8px;
}

.tag_list {
  display: flex;
  justify-content: flex-start; /* 좌측으로 밀착 */
  font-family: 'Trendy Font', sans-serif;
}

.tag_list > * {
  margin-right: 10px; /* 태그 간 간격 제거 */
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.tag_list > *:hover {
  background-color: #0056b3;
}

.tag_list_wrapper {
  overflow-x: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  scrollbar-width: none; /* 스크롤바를 사용하지만 화면상에 나타내지 않기 1 */
}

/* 스크롤바를 사용하지만 화면상에 나타내지 않기 2*/
.tag_list_wrapper::-webkit-scrollbar {
  width: 0.5em;
}
.tag_list_wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.tag_list_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

.tooltip .tooltip_bottom {
  width: 160px;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}


.tooltip .tooltip_bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -27px;
  border-color: transparent transparent #007bff transparent;
}